.input {
    text-align: center;
    width: 25em;
    height: 3em;
    background: #5A5A74;
    border: 3px solid #1E1D26;
    border-radius: 25px;
    margin-top: 1.3em;

    font-size: 25px;
    line-height: 50px;
}

.input::placeholder {
    color: black;
    opacity: 40%;
}

.input:focus {
    outline: none;
}

.mapSearch {
    text-align: center;
    width: 21em;
    height: 2.5em;

    background: #5A5A74;
    border: 4px solid #FF9315;
    border-radius: 16px;

    margin-top: 1.3em;

    color: white;
    font-size: 25px;
    line-height: 50px;
}

.mapSearch::placeholder {
    color: white;
}

.mapSearch:focus {
    outline: none;
}

.chooseHour {
    text-align: center;
    width: 3.5em;
    height: 2.2em;

    box-sizing: border-box;
    background: #586B7D;
    border: 3px solid #1E1D26;
    border-radius: 12px;

    margin-top: 1em;

    color: white;
    font-size: 25px;
    line-height: 50px;
}

.truckInput {
    text-align: center;
    width: 20em;
    height: 3em;
    background: #5A5A74;
    border: 3px solid #1E1D26;
    border-radius: 25px;
    margin-top: 1.3em;

    font-size: 25px;
    line-height: 50px;
}