.mainContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    justify-content: center;
    border: 4px solid #3A3A55;
    border-radius: 16px;
    font-size: 30px;
    color: white;
}

.routeIcon{
    width: 20px;
    height: 20px;
}

.pointIcon{
    width: 10px;
    height: 10px;
}

.basic{
    margin-top: 1em;
}