:root {
  --app-bg-color: #272729;
  --app-bg-color-ligther: #303035;
  --app-bg-color-darker: #202020;

  --app-font-color: #FAF7FF;
  --app-font-family: 'Quicksand', sans-serif;

  --app-acc-color: #8685EF;
  font-family: var(--app-font-family);

  font-size: 10px;
  font-weight: 400;
  color: var(--app-font-color);

  background-color: var(--app-bg-color);
}

body {
  margin: 0;
  padding: 0;
}