.topBarContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    /*gap: 1em;*/
    background: #26242F;
    border: 8px solid #1E1D26;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    width: 100vw;
    height: 8em;


    font-family: 'Mukta';
    font-style: normal;
    font-weight: 400;
}