.formButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8em;
    height: 3em;
    background: #202031;
    border: 3px solid #3A3A55;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 2em;
    margin-left: 2em;

    font-size: 32px;
    line-height: 70px;

    color: #FFFFFF;
}
